<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/award.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>
    <div style="width: 100%; height: 100%; position: relative; background: white">
        <div style="width: 1017px; left: 620px; top: 1691px; position: absolute; text-align: right"><span style="color: black; font-size: 70px; font-family: S-Core Dream; font-weight: 200; line-height: 110.70px; word-wrap: break-word">사랑하는 부모님과의<br/></span><span style="color: black; font-size: 102.72px; font-family: S-Core Dream; font-weight: 500; line-height: 110.70px; word-wrap: break-word">“기억”</span><span style="color: black; font-size: 90px; font-family: S-Core Dream; font-weight: 200; line-height: 110.70px; word-wrap: break-word">을 만들어가세요.</span></div>
        <div style="left: 341px; top: 626px; position: absolute"><span style="color: black; font-size: 64.58px; font-family: S-Core Dream; font-weight: 200; line-height: 129.15px; word-wrap: break-word">소통이 부족한 시대,<br/></span><span style="color: black; font-size: 122.70px; font-family: S-Core Dream; font-weight: 700; line-height: 129.15px; word-wrap: break-word">패밀리톡톡</span><span style="color: black; font-size: 122.70px; font-family: S-Core Dream; font-weight: 200; line-height: 129.15px; word-wrap: break-word">으로</span></div>
        <div style="width: 1920px; height: 115px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25)">
            <div style="width: 170px; height: 39.48px; left: 1663px; top: 36px; position: absolute">
                <div style="width: 40px; height: 37px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 40px; height: 15px; left: 0px; top: 22px; position: absolute; background: #DBDADA; border-top-left-radius: 16.04px; border-top-right-radius: 16.04px"></div>
                    <div style="width: 20px; height: 20px; left: 10px; top: 0px; position: absolute; background: #DBDADA; border-radius: 9999px"></div>
                </div>
                <%if(!username){%>
                <div style="width: 114px; height: 35.48px; left: 56px; top: 4px; position: absolute; color: black; font-size: 30.20px; font-family: S-Core Dream; font-weight: 600; word-wrap: break-word" id="modalOpenButton">로그인</div>
                <%}%>
                <%if(username){%>
                  <form action="/logout" method="POST">
                 <div style="width: 114px; height: 35.48px; left: 56px; top: 4px;"><input type='submit' value="로그아웃" style="background-color:transparent;  border:0px transparent solid; position: absolute; color: black; font-size: 30.20px; font-family: S-Core Dream; font-weight: 600; word-wrap: break-word;margin-left:50px;margin-top: 3px;"></div>
                </form>
                  <%}%>
              <a href="heart"><div style="width: 114px; height: 35.48px; left: -180px; top: 1px; position: absolute; color: black; font-size: 30.20px; font-family: S-Core Dream; font-weight: 600;">mypage</div></a> 
            </div>
            <a href="/mission"> <div style="width: 269px; height: 88px; left: 143px; top: 41px; position: absolute; color: black; font-size: 30.20px; font-family: S-Core Dream; font-weight: 500; word-wrap: break-word">미션페이지</div></a>
            <img style="width: 71px; height: 75px; left: 53px; top: 20px; position: absolute" src="/images/mission.png" />
            <a href="/"><img style="width:7%; left: 50%; top: 5px; position: absolute" src="/images/logo.png" /></a>
        </div>
        <img style="width: 446px; height: 481px; left: 275px; top: 2001px; position: absolute; border-radius: 30px" src="/images/family1.png" />
        <img style="width: 1927px; height: 565px; left: 0px; top: 2700px; position: absolute" src="/images/down.png" />
        <img style="width: 1920px; height: 258px; left: 0px; top: 115px; position: absolute" src="/images/up.png" />
        <img style="width: 966.67px; height: 783.42px; left: 913.60px; top: 464px; position: absolute; transform: rotate(6.05deg); transform-origin: 0 0; opacity: 0.50" src="images/Shadow.png" />
        <img style="width: 445px; height: 945px; left: 1331px; top: 324px; position: absolute" src="/images/mokup.png" />
        <img style="width: 446px; height: 481px; left: 1227px; top: 2001px; position: absolute; border-radius: 30px" src="/images/family3.png" />
        <div style="left: 751px; top: 2001px; position: absolute; background: white; border-radius: 30px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
            <img style="width: 445px; height: 486px; border-radius: 30px" src="/images/family2.png" />
        </div>
    </div>
    <div id="modalContainer" class="hidden">
        <div id="modalContent">
          <form action="/login" method="POST">
            <div class="mb-3">
              <label for="formGroupExampleInput" class="form-label" style="font-size: 30px;">이름</label>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="이름" name="username" style="height: 60px;font-size: 20px;">
            </div>
            <div class="mb-3">
              <label for="formGroupExampleInput2" class="form-label" style="font-size: 30px;">비밀번호</label>
              <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="비밀번호" name="password" style="height: 60px;font-size: 20px;">
            </div>
            <button type="button" class="btn btn-secondary" id="modalCloseButton" style="margin-left: 700px; width:70px">취소</button>
            <button type="submit" class="btn btn-primary" style="margin-left: 15px; width:70px;">로그인</button>
        </form>
        </div>
      </div>
    <script src="/javascript/award.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>