<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/quest.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div style="width: 100%; height: 100%; position: relative; background: white">
        <img style="width: 1927px; height: 565px; left: -7px; top: 822px; position: absolute" src="/images/down.png" />
        <div style="width: 677px; height: 357px; left: 358px; top: 373px; position: absolute; background: #F6EDC6; border-radius: 20px"></div>
        <div style="width: 1088px; height: 338px; left: 474px; top: 476px; position: absolute; background: #C6D7F6; border-radius: 20px"></div>
        <div style="left: 384px; top: 381px; position: absolute; text-align: center; color: black; font-size: 47.42px; font-family: S-Core Dream; font-weight: 600; line-height: 94.83px; word-wrap: break-word">오늘의 미션</div>
        <div style="left: 505px; top: 502px; position: absolute; text-align: center; color: black; font-size: 43.65px; font-family: S-Core Dream; font-weight: 500; line-height: 87.31px; word-wrap: break-word" id="quest1">부모님에게 사랑한다고 전화로 말씀드리기</div>
        <div style="left: 505px; top: 601px; position: absolute; text-align: center; color: black; font-size: 43.65px; font-family: S-Core Dream; font-weight: 500; line-height: 87.31px; word-wrap: break-word" id="quest2">부모님에게 아침인사 드리기</div>
        <div style="left: 505px; top: 700px; position: absolute; text-align: center; color: black; font-size: 43.65px; font-family: S-Core Dream; font-weight: 500; line-height: 87.31px; word-wrap: break-word" id="quest3">부모님에게 저녁인사 드리기</div>

        <!-- Wrap checkboxes in a single form -->
        <form id="missionForm">
            <div style="width: 49px; height: 49px; left: 1461px; top: 521px; position: absolute; background: white; border-radius: 12px" class="chek1">
                <input style='zoom:4.0; border: 0;' type="checkbox" id="checkbox1" name="score" value="1">
            </div>
            <div style="width: 49px; height: 49px; left: 1461px; top: 620px; position: absolute; background: white; border-radius: 12px">
                <input style='zoom:4.0; border: 0;' type="checkbox" id="checkbox2" name="score" value="2">
            </div>
            <div style="width: 49px; height: 49px; left: 1461px; top: 719px; position: absolute; background: white; border-radius: 12px">
                <input style='zoom:4.0; border: 0;' type="checkbox" id="checkbox3" name="score" value="3">
            </div>
        </form>

        <div style="width: 1920px; height: 115px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25)">
            <div style="width: 170px; height: 39.48px; left: 1663px; top: 36px; position: absolute">
                <div style="width: 40px; height: 37px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 40px; height: 15px; left: 0px; top: 22px; position: absolute; background: #DBDADA; border-top-left-radius: 16.04px; border-top-right-radius: 16.04px"></div>
                    <div style="width: 20px; height: 20px; left: 10px; top: 0px; position: absolute; background: #DBDADA; border-radius: 9999px"></div>
                </div>
                <% if (!username) { %>
                    <div style="width: 114px; height: 35.48px; left: 56px; top: 4px; position: absolute; color: black; font-size: 30.20px; font-family: S-Core Dream; font-weight: 600; word-wrap: break-word" id="modalOpenButton">로그인</div>
                <% } %>
                <% if (username) { %>
                    <form action="/logout" method="POST">
                        <div style="width: 114px; height: 35.48px; left: 56px; top: 4px;">
                            <input type='submit' value="로그아웃" style="background-color:transparent; border:0px transparent solid; position: absolute; color: black; font-size: 30.20px; font-family: S-Core Dream; font-weight: 600; word-wrap: break-word; margin-left:50px; margin-top: 3px;">
                        </div>
                    </form>
                <% } %>
            </div>
            
            <a href="heart"><div style="width: 114px; height: 35.48px; margin-left: 1483px; margin-top: 37px; position: absolute; color: black; font-size: 30.20px; font-family: S-Core Dream; font-weight: 600;">mypage</div></a> 
            <a href="/mission"><div style="width: 269px; height: 88px; left: 143px; top: 41px; position: absolute; color: black; font-size: 30.20px; font-family: S-Core Dream; font-weight: 500; word-wrap: break-word">미션페이지</div></a> 
            <img style="width: 71px; height: 75px; left: 53px; top: 20px; position: absolute" src="/images/mission.png" />
            <a href="/"><div style="left: 805px; top: 28px; position: absolute; color: black; font-size: 50px; font-family: S-Core Dream; font-weight: 700; word-wrap: break-word">패밀리톡톡</div></a>


            <a href="/"><div style="left: 805px; top: 28px; position: absolute; color: black; font-size: 50px; font-family: S-Core Dream; font-weight: 700; word-wrap: break-word">패밀리톡톡</div></a>
            <img style="width: 67px; height: 54px; left: 1045px; top: 34px; position: absolute" src="/images/logo.png" />
        </div>
        <img style="width: 1920px; height: 258px; left: 0px; top: 115px; position: absolute" src="/images/up.png" />
    </div>

    <div id="modalContainer" class="hidden">
        <div id="modalContent">
          <form action="/login" method="POST" id="aing">
            <div class="mb-3">
              <label for="formGroupExampleInput" class="form-label" style="font-size: 30px;">이름</label>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="이름" name="username" style="height: 60px;">
            </div>
            <div class="mb-3">
              <label for="formGroupExampleInput2" class="form-label" style="font-size: 30px;">비밀번호</label>
              <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="비밀번호" name="password" style="height: 60px;">
            </div>
            <button type="button" class="btn btn-secondary" id="modalCloseButton" style="margin-left: 700px; ">취소</button>
            <button type="submit" class="btn btn-primary">로그인</button>
          </form>
        </div>
      </div>
    
    <input type="button" onclick="button()" class="btn btn-primary" id="confirmButton" style="left: 1433px; top: 838px; position: absolute; text-align: center; color: black; font-size: 33.23px; font-family: S-Core Dream; font-weight: 200; line-height: 66.45px;" value="제출하기">
    
    <script src="/javascript/award.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
